<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/main/materialize.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main/master.css">
  <title>Alfredo's Personal Webpage</title>
  <style>
    .section {
      min-height: 100vh;
    }

    body {
      border: 1px solid black;
    }

    .table-of-contents a.active {
      color: blue;
    }
  </style>
</head>

<body>
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="introduction" class="section scrollspy">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus praesentium obcaecati id aut fugiat cumque
          fuga molestias animi, officia maiores, autem perferendis voluptate asperiores nam eius architecto! Quas ipsam
          assumenda rem impedit neque cum quod voluptatibus? Tenetur excepturi doloribus aut maiores officia similique
          itaque sapiente, laborum obcaecati corporis et, reprehenderit cum inventore dolore. Voluptatem recusandae quae
          fuga qui porro nemo, sed vero magnam esse et ab maxime suscipit libero nostrum accusantium pariatur
          architecto, nisi dolore deleniti nobis eaque! Ipsum doloribus libero quia expedita adipisci mollitia quibusdam
          illum illo blanditiis aspernatur odit non minima iure facilis officiis nisi, eius reprehenderit repudiandae
          delectus odio, hic voluptatem tempore! Dignissimos ipsam fugit expedita assumenda tempore et culpa eius
          numquam! Dolor animi natus, accusantium ad sunt quaerat adipisci reiciendis asperiores dolorum odio
          repudiandae consequatur nisi ea fugiat. Error necessitatibus quisquam doloremque voluptate reprehenderit?
          Aperiam sit reiciendis quis quas vitae officia qui temporibus, recusandae molestiae, laudantium tempora dicta
          consectetur assumenda, in consequatur. Magnam dolor, aspernatur repellendus maiores odit vero asperiores rerum
          aut eos sit suscipit omnis. Debitis quis repellendus incidunt harum praesentium voluptas excepturi odio
          dolorum delectus quibusdam labore neque iste aliquid assumenda perspiciatis nostrum voluptatem, accusantium
          fuga soluta temporibus earum. Qui fugit tempora ut molestias aspernatur aperiam, doloribus recusandae iste
          minima assumenda officiis a omnis eos eveniet sint laudantium, magni blanditiis? Repudiandae nihil tempore
          quibusdam doloribus, voluptatum atque et nisi quis odit a id qui vero ad fuga magnam adipisci alias veniam
          aliquam perspiciatis nostrum. Recusandae sit unde incidunt eum quis at dolorem consequatur quo fugit similique
          ratione tempore exercitationem esse magni voluptatum debitis tempora eaque vel minima eligendi hic commodi,
          dolores natus? Minima explicabo totam accusantium porro officiis, quod eaque optio impedit! Omnis facere optio
          corporis quia mollitia minus possimus amet officia eum perferendis ea, nisi, suscipit tempore pariatur soluta?
          Placeat recusandae eos, velit sapiente ipsum aliquam maxime dolorum doloribus numquam facere architecto
          reiciendis quo atque impedit est assumenda iste iure delectus voluptas sit! Iure voluptas, officia consectetur
          delectus itaque maiores quibusdam facere autem. Aspernatur laboriosam corporis iure iusto laborum esse cum
          voluptates autem ratione quas aperiam ullam numquam harum aliquid blanditiis modi saepe repellat ipsam, veniam
          reiciendis. Obcaecati voluptas doloremque consequatur inventore animi expedita magni? Sint voluptate quia
          dolore facere sit fuga totam quidem itaque, asperiores impedit atque dolores architecto rerum quas vel
          accusamus ipsum, ipsam ullam nam! Consequatur ab nostrum fugit ut dolorum repellat corrupti, velit accusamus
          quo esse facere hic? Porro est id corrupti quis, odio temporibus nostrum quas tempora aliquam, quos nemo
          consectetur atque aliquid provident amet incidunt rerum. Tenetur molestias blanditiis quam quidem, labore
          eveniet eius tempora atque! Ab veritatis debitis voluptatem magnam aliquam, sunt laudantium vitae quisquam
          quae illum cupiditate quod expedita facere nobis! Mollitia unde illum officia cum a quibusdam nostrum magni ex
          impedit inventore. Eaque, alias delectus reprehenderit dolor neque mollitia quidem fugiat repudiandae quod
          cupiditate nisi dolorem inventore magnam? Pariatur officia nisi deserunt beatae reiciendis quo quae provident
          vitae, nulla repudiandae reprehenderit odit quas temporibus autem ullam inventore placeat totam ab, quasi eos?
          Illo, voluptas? </p>
      </div>

      <div id="structure" class="section scrollspy">
        <p>Structure</p>
      </div>

      <div id="collapse1" class="section scrollspy">
        <p>collapse</p>
      </div>

      <div id="collapse2" class="section scrollspy">
        <p>collapse</p>
      </div>

      <div id="collapse3" class="section scrollspy">
        <p>collapse</p>
      </div>

      <div id="initialization" class="section scrollspy">
        <p>Initialization </p>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <div class="pinned">
        <ul class="section table-of-contents">
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#structure" class="collapsible-header">Structure</a></li>
          <div class="collapsible-body">
            <ul>
              <li><a href="#collapse1">Collapse 1</a></li>
              <li><a href="#collapse2">Collapse 2</a></li>
              <li><a href="#collapse3">Collapse 3</a></li>
            </ul>
          </div>
          <li><a href="#initialization">Intialization</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script src="/static/main/materialize.min.js"></script>
  <script>
    // Initialize materialize
    document.addEventListener('DOMContentLoaded', function () {
      let scrollspyOptions = {
        scrollOffset: 0,
      }
      var instances = M.ScrollSpy.init(document.querySelectorAll('.scrollspy'), scrollspyOptions);

    });
  </script>
</body>

</html>