<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Molecule</title>
  <style>
    body {
      --background-1: rgb(19, 19, 34);
    }

    #epibatidine {
      height: 30vh;
      width: 30vh;
      border: 2px solid black;
    }

    #tubocurarine {
      height: 40vh;
      width: 40vh;
    }
  </style>

  <script src="/static/main/js/3Dmol-min.js"></script>
</head>

<body>
  <!-- <div id="biotin" data-pdb="2POR" class="viewer_3Dmoljs" data-style='stick'></div> -->
  <!-- <div id="biotin" data-href="/static/main/science/thc-3d.sdf" data-type="sdf" class="viewer_3Dmoljs"
    data-style='stick'></div> -->
  <!-- Epibatidine -->
  <div id="epibatidine" data-href="/static/main/science/epibatidine.sdf" data-type="sdf" data-style="stick" class="viewer_3Dmoljs">
  </div>
  <!-- <div id="tubocurarine" data-href="/static/main/science/tubocurarine.sdf" data-type="sdf" data-style="line" class="viewer_3Dmoljs">
  </div> -->
  <div id="tubocurarine" data-href="/static/main/science/tubocurarine.sdf" data-type="sdf" data-style="stick" class="viewer_3Dmoljs" data-surface="opacity:0.6">
  </div>

  <!-- <div id="biotin" data-href="/static/main/docs/biotin.mol" class="viewer_3Dmoljs" data-type="mol2" data-style='stick'> -->
  <!-- </div> -->

</body>

</html>