<!DOCTYPE html>
<html>
  <head>
    <title>Metabolic Modelling Visualisation</title>
    <script src="/static/main/js/escher.min.js" charset="utf-8"></script>
  </head>
  
  
  <!-- Escher files -->
  <meta charset="utf-8" />
  
  <body>
    <div id="escher-map-container">
      <div id="escher-title"></div>
      <div id="escher-map"></div>
    </div>
    
    <script src="/static/main/js/escher-viz.js"></script>
    <link rel="stylesheet" href="/static/main/css/escher-viz.css">
</body>

<style>
  
</style>

</html>