<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Materialize -->
  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Amaranth&display=swap" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main/css/materialize.min.css">
  <link rel="stylesheet" href="master.css">
  <title>Alfredo Alarcon - Scientific Informatics</title>
</head>

<body>
  <!-- Header -->
  <header><img src="/static/main/img/header.jpg"></header>
  <div class="row">
    <!-- Main content -->
    <div class="col s12 m10 l8 offset-l1">

      <!-- Presentation -->
      <div id="presentation" class="section scrollspy">
        <div class="title">presentation</div>
        <div class="section-content">

          <!-- Who Am I ? -->
          <div class="my-card">
            <img id="profile-pic" src="/static/main/img/profile_picture.png" alt="">
            <div class="subtitle">Who Am I?</div>
            <ul class="check-list">
              <li>Engineer from the Ecole Polytechnique</li>
              <li>8 years experience in data science and web development</li>
              <li>Passionate about science and technology</li>
            </ul>
            <a href="/static/main/docs/CV_Alfredo_ALARCON.pdf" class="btn waves-effect waves-light blue lighten-1">
              Download CV
            </a>
          </div>
          <!-- Expertise -->
          <div class="my-card">
            <div class="subtitle">Expertise</div>
            <div id="expertise-list">
              <div>
                <img src="/static/main/img/113k_reverse_transcriptase.png" alt="">
                <div>Bioinformatics</div>
              </div>
              <div>
                <img src="/static/main/img/web-development.jpg" alt="">
                <div>Web Development</div>
              </div>
              <div>
                <img src="/static/main/img/network-analysis.jpg" alt="">
                <div>Network Modelling</div>
              </div>
              <div>
                <img src="/static/main/img/218a_tryptophan.png" alt="">
                <div>Chemoinformatics</div>
              </div>
              <div>
                <img src="/static/main/img/data-analysis.jpg" alt="">
                <div>Data Analysis </div>
                <div>& Visualisation</div>
              </div>
              <div>
                <img src="/static/main/img/project-management.jpg" alt="">
                <div>Management</div>
                <div>& Coaching</div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Experience -->
      <div id="experience" class="section scrollspy">
        <div class="container">
          <div class="title">experience</div>
        </div>
      </div>

      <!-- Education -->
      <div id="education" class="section scrollspy">
        <div class="container">
          <div class="title">education</div>
        </div>
      </div>

      <!-- Side Projects -->
      <div id="side-projects" class="section scrollspy">
        <div class="container">
          <div class="title">side projects</div>
        </div>
      </div>

      <!-- Pictures -->
      <div id="pictures" class="section scrollspy">
        <div class="container">
          <div class="title">pictures</div>
        </div>
      </div>
    </div>

    <!-- table of contents -->
    <div class="col hide-on-small-only m2 l2"  id="table-contents-container">
      <div class="pushpin" >
        <ul class="section table-of-contents">
          <li><a href="#presentation">Presentation</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#side-projects">Side Projects</a></li>
          <li><a href="#pictures">Pictures</a></li>
        </ul>
      </div>
    </div>
  </div>



  <!-- Initialize materialize -->
  <script src="/static/main/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let scrollspyOptions = {
        scrollOffset: 0,
      }
      let scrollspyInst = M.ScrollSpy.init(document.querySelectorAll('.scrollspy'), scrollspyOptions);
      let parallaxInst = M.Parallax.init(document.querySelectorAll('.parallax'), {});
      const pushpinOptions = {
        offset: 200,
        // top: 100,
      }

      let pushpinInst = M.Pushpin.init(document.querySelectorAll('.pushpin'), pushpinOptions);
    });
  </script>
</body>

</html>