<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Materialize -->
  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Amaranth&display=swap" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main/css/materialize.min.css">
  <link rel="stylesheet" href="/static/main/css/chartist.min.css">
  <link rel="stylesheet" href="/static/main/css/chartist-plot.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/main/css/master~v12.css">
  <link rel="stylesheet" href="/static/main/css/substr-viz-main.css">
  <title>Alfredo Alarcon - Scientific Informatics</title>
</head>

<body>

  <!-- Row with main content and table of contents -->
  <!-- <div class="row"> -->
  <div id="main-layout">

    <!-- Main content -->
    <div id="main-content">

      <!-- Presentation -->
      <div id="presentation" class="grid-section section scrollspy">
        <div class="title">alfredo alarcon y - scientific informatics</div>
        <!-- Who Am I ? -->
        <div class="my-card">
          <img id="profile-pic" src="/static/main/img/profile_picture.png" alt="">
          <div class="subtitle">Who Am I?</div>
          <ul class="check-list">
            <li>Generalist Engineer from the Ecole Polytechnique, top Engineering School in France.</li>
            <li>8 years experience in data science and web development.</li>
            <li>Passionate about science and technology.</li>
            <li>Looking for new opportunities in any scientific field.</li>
          </ul>
          <a target="_blank" href="/static/main/docs/CV_Alfredo_ALARCON.pdf"
            class="btn waves-effect waves-light blue lighten-1">
            Download CV <i class="material-icons right">open_in_new</i>
          </a>
        </div>
        <!-- Expertise -->
        <div class="my-card">
          <div class="subtitle">My Expertise</div>
          <div id="expertise-list">

            <a href="#web-development">
              <img src="/static/main/img/web-development.jpg" alt="">
              <div>Web Development</div>
            </a>
            <a href="#data-science">
              <img src="/static/main/img/data-analysis.jpg" alt="">
              <div>Data Science </div>
            </a>
            <a href="#network-analysis">
              <img src="/static/main/img/network-analysis.jpg" alt="">
              <div>Network Modelling</div>
            </a>
            <a href="#management">
              <img src="/static/main/img/project-management.jpg" alt="">
              <div>Management</div>
              <div>& Coaching</div>
            </a>
            <a href="#computational-biology">
              <img src="/static/main/img/ha_retrovirus.png" alt="">
              <div>Computational Biology</div>
            </a>
            <a href="#chemoinformatics">
              <img src="/static/main/img/chemoinformatics.png" alt="">
              <div>Chemoinformatics</div>
            </a>


          </div>
        </div>
        <!-- My Stack -->
        <div class="my-card footer">
          <div class="subtitle">My Stack</div>
          <div id="my-stack">
            <div class="subsubtitle">Frontend</div>
            <div class="subsubtitle">Backend</div>
            <div class="subsubtitle">Devops</div>
            <div class="subsubtitle">Data Science</div>
            <div>
              <!-- frontend images -->
              <img class="tooltipped" data-tooltip="Javascript" src="/static/main/img/logos-stack/javascript.png"
                alt="">
              <img class="tooltipped" data-tooltip="React" src="/static/main/img/logos-stack/react.png" alt="">
              <img class="tooltipped" data-tooltip="CSS" src="/static/main/img/logos-stack/css.png" alt="">
              <img class="tooltipped" data-tooltip="HTML" src="/static/main/img/logos-stack/html.png" alt="">
            </div>
            <div>
              <!-- backend images -->
              <img class="tooltipped" data-tooltip="Python" src="/static/main/img/logos-stack/python.png" alt="">
              <img class="tooltipped" data-tooltip="Django" src="/static/main/img/logos-stack/django.png" alt="">
              <img class="tooltipped" data-tooltip="PostgreSQL" src="/static/main/img/logos-stack/postgresql.png"
                alt="">
              <img class="tooltipped" data-tooltip="MongoDB" src="/static/main/img/logos-stack/mongodb.png" alt="">

            </div>
            <div>
              <!-- devops images -->
              <img class="tooltipped" data-tooltip="Linux" src="/static/main/img/logos-stack/linux.png" alt="">
              <img class="tooltipped" data-tooltip="Git" src="/static/main/img/logos-stack/git.png" alt="">
              <img class="tooltipped" data-tooltip="Docker" src="/static/main/img/logos-stack/docker.png" alt="">
              <img class="tooltipped" data-tooltip="Vagrant" src="/static/main/img/logos-stack/vagrant.png" alt="">

            </div>
            <div>
              <!-- data science images -->
              <!-- <img class="tooltipped" data-tooltip="Python" src="/static/main/img/logos-stack/python.png" alt=""> -->
              <img class="tooltipped" data-tooltip="Matplotlib, Pandas, Numpy"
                src="/static/main/img/logos-stack/matplotlib.png" alt="">
              <img class="tooltipped" data-tooltip="Jupyter Lab" src="/static/main/img/logos-stack/jupyter.png" alt="">
              <!-- <img class="tooltipped" data-tooltip="Plotly" src="/static/main/img/logos-stack/plotly.png" alt=""> -->
              <img class="tooltipped" data-tooltip="Scikit-learn" src="/static/main/img/logos-stack/sklearn.png" alt="">
              <img class="tooltipped" data-tooltip="Tensorflow" src="/static/main/img/logos-stack/tensorflow.png"
                alt="">

            </div>
          </div>

        </div>
      </div>

      <!-- Expertise -->
      <div id="expertise">
        <!-- Data Science -->
        <div class="section scrollspy" id="data-science">
          <div class="title">expertise</div>
          <div class="my-card">
            <div class="subtitle">Data Science</div>
            <!-- Animation -->
            <div class="expertise-image">
              <div class="ct-chart" id="ct-expertise"></div>
              <div class="image-legend">The <em>Lemniscate of Gerono</em> is defined by the following
                equation:<br><var>y<sup>2</sup></var> =
                <var>x<sup>2</sup></var> - <var>x<sup>4</sup></var>.</div>
            </div>
            <!-- Background -->
            <div class="expertise-item background-item">
              <div class="exp-title-2">Background</div>
              <ul class="check-list">
                <li>8 years experience in treatment and analysis of complex data from heterogenous sources (biological,
                  transportation, macroeconomics).</li>
                <li>Strong mathematical and informatics background developped during my Engineering studies.</li>
              </ul>
            </div>

            <!-- Data Treatment -->
            <div class="expertise-item">
              <div class="exp-title-2">Data Treatment</div>
              <ul class="check-list">
                <li>With Python stack for data science we can automatise data treatment and concentrate on interpreting
                  results.</li>
              </ul>
            </div>
            <!-- Forecasting - Machine Learning -->
            <div class="expertise-item">
              <div class="exp-title-2">Forecasting - Machine Learning</div>
              <ul class="check-list">
                <li>Python libraries such as scikit-learn or tensorflow help us model and predict values for time series
                  coming from different sources.</li>
                <li>Categorical classification can be automatised with methods such as clustering or artificial neural
                  networks.</li>
              </ul>
            </div>
            <!-- Data Visualisation -->
            <div class="expertise-item">
              <div class="exp-title-2">Data Visualisation</div>
              <ul class="check-list">
                <li>Python libraries and jupyter notebooks allow us to easily explore data in order to visually find
                  patterns or correlations in data.</li>
                <li>With javascript libraries we can create interactive visualisations and animations, which can be
                  embedded into a website for either internal purposes or external diffusion.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Full Stack Web Development -->
        <div class="section scrollspy" id="web-development">
          <div class="my-card">
            <div class="subtitle">Full Stack Web Development</div>
            <!-- Background -->
            <div class="expertise-item background-item">
              <div class="exp-title-2">Background</div>
              <ul class="check-list">
                <li>Data-driven scientific applications are necessary today to interpret and confront results more
                  efficiently.</li>
                <li>Using open-source libraries I construct personalised websites because each need is different.</li>
                <li>You can see the github repository for this website <a
                    href="https://github.com/FrekMown/personal">here</a>. Take a look at some side projects <a
                    href="#side-projects">here</a>.</li>
                <!-- <li></li> -->
              </ul>
            </div>
            <!-- Image -->
            <div class="expertise-image">
              <img id="web-development-image" src="/static/main/img/logos-expertise/web-development.png" alt="">
            </div>
            <!-- Frontend & Backend -->
            <div class="expertise-item">
              <div class="exp-title-2">Frontend & Backend</div>
              <ul class="check-list">
                <li>With Python in backend and Javascript in frontend I create scientific data-driven dynamic
                  applications
                  easily
                  accessible via a web browser.</li>
                <li>From database (SQL or NoSQL) and web server to javascript and react, I have developped several web
                  apps by myself or with a collaborator.</li>
              </ul>
            </div>
            <!-- Progressive Web Apps -->
            <div class="expertise-item">
              <div class="exp-title-2">Progressive Web Apps</div>
              <ul class="check-list">
                <li>With service workers, indexedDB, HTTPS & standard web technologies (javascript, CSS, HTML, React) we
                  can construct cross-platform apps with native features.</li>
              </ul>
            </div>
            <!-- Deploying Apps -->
            <div class="expertise-item">
              <div class="exp-title-2">Continuous Integration & Continuous Deployment</div>
              <ul class="check-list">
                <li>Using tools such as docker or vagrant, app deployment can be completely automatised.</li>
                <li>With cloud hosting (Digital Ocean, AWS), DNS registration, reverse proxing (Cloudflare) and SSL/TLS
                  certificates
                  generation we can publish a professional website or web app online.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Network Analysis -->
        <div class="section scrollspy" id="network-analysis">
          <div class="my-card">
            <div class="first-line">
              <div class="subtitle">Network Analysis</div>
              <a target="_blank" href="/metabolic-modelling-viz"
                class="btn-small waves-effect waves-light blue lighten-1">Animation <i
                  class="material-icons right">open_in_new</i></a>
            </div>
            <!-- Image -->
            <div class="expertise-image">
              <img id="modelling-image" class="tooltipped" data-tooltip="Click for interactive animation"
                src="/static/main/img/logos-expertise/modelling-pkt.png" alt="">
              <div class="image-legend">Metabolic Modelling for a <em>Escherichia Coli</em> using
                the iML1515 model (containing 1877 metabolites, 2712 reactions and 1516 genes). The animation shows the
                improvement in
                theoretical yield for acetone production with the PKT strain patented by Global Bioenergies&copy;</div>
            </div>
            <!-- Background -->
            <div class="expertise-item background-item">
              <div class="exp-title-2">Background</div>
              <ul class="check-list">
                <li>8 years experience in network analysis and modelling, applied to metabolic networks and
                  transportation
                  analysis.</li>
              </ul>
            </div>
            <!-- Metabolic Modelling -->
            <div class="expertise-item">
              <div class="exp-title-2">Metabolic Modelling</div>
              <ul class="check-list">
                <li>Genome-scale metabolic models attempt to store all published data regarding metabolites, reactions
                  and
                  genes in a metabolic network for a specific organism. </li>
                <li>They allow for a holistic view of an organism's metabolism.</li>
                <li>Using linear optimization we can simulate different metabolic scenarios and confont them to
                  experimental results.</li>
                <li>These models can be a basis for more complex analysis regarding omics (transcriptomics, fluxomics,
                  genomics), as well as chemical data.</li>
              </ul>
            </div>

            <!-- Multimodal Transport Modelling -->
            <div class="expertise-item">
              <div class="exp-title-2">Multimodal Transport Modelling</div>
              <ul class="check-list">
                <li>Using the Quetzal python module developed by Systra, we can model and forecast traffic for a given
                  transportation network.</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Computational Biology -->
        <div class="section scrollspy" id="computational-biology">
          <div class="my-card">
            <div class="subtitle">Computational Biology</div>
            <!-- Background -->
            <div class="expertise-item background-item">
              <div class="exp-title-2">Background</div>
              <ul class="check-list">
                <li>3 years as Bioinformatics Team Leader in a Biotechnology company. Activity created from scratch by
                  myself and one collaborator.</li>
                <li>Scientific background in Biology acquired during Engineering studies as well as online courses.</li>
              </ul>
            </div>
            <!-- Biology Animation -->
            <div id="biology-image" class="expertise-image">
              <img id="bio-norotate" src="/static/main/img/logos-expertise/expertise-biology-elements.png" alt="">
              <img class="rotate" id="bio-rotate" src="/static/main/img/logos-expertise/expertise-biology-plasmid.png"
                alt="">
            </div>
            <!-- DNA and Protein Sequence Analysis -->
            <div class="expertise-item">
              <div class="exp-title-2">DNA and Protein Sequence Analysis</div>
              <ul class="check-list">
                <li>Biopython can be used to handle large quantities of sequence data.</li>
                <li>Multiple alignments tools such as BLAST or HMMER allow for large database screening in research for
                  relevant proteins.</li>
              </ul>
            </div>
            <!-- Lab data treatment -->
            <div class="expertise-item">
              <div class="exp-title-2">Lab data treatment</div>
              <ul class="check-list">
                <li>Raw data from wet-lab can be treated using python for data science (pandas).</li>
                <li>Experience handling data from HPLC, gaz chromatography, mass spectrometry ...</li>
              </ul>
            </div>
            <!-- Omics data analysis -->
            <div class="expertise-item">
              <div class="exp-title-2">Omics data analysis</div>
              <ul class="check-list">
                <li>Genomics and transcriptomics data can be analysed with python statistical tools for high dimensional
                  data (FPKM, q-values).</li>
                <li>Mutated or differently expressed genes can be put into context using <a
                    href="#network-analysis">metabolic modelling</a>.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Chemoinformatics -->
        <div class="section scrollspy" id="chemoinformatics">
          <div class="my-card">
            <div class="first-line">
              <div class="subtitle">Chemoinformatics</div>
              <a target="_blank" href="/chemoinformatics-viz"
                class="btn btn-small waves-effect waves-light blue lighten-1">Animation <i
                  class="material-icons right">open_in_new</i></a>
            </div>
            <!-- Background -->
            <div class="expertise-item background-item">
              <div class="exp-title-2">Background</div>
              <ul class="check-list">
                <li>3 years as bioinformatics team leader with a strong emphasis on chemoinformatics</li>
                <li>Deep knowledge in Organic Chemistry and Biochemistry thanks to Engineering studies as well as online
                  courses.</li>
              </ul>
            </div>
            <!-- Image -->
            <div class="expertise-image">
              <!-- <img id="chemoinfo-image" class="tooltipped" data-tooltip="Click for interactive animation"
              src="/static/main/img/logos-expertise/expertise-chemoinfo.png" alt=""> -->
              <div id="chem-container"></div>
              <a target="_blank" id="chemoinfo-rotate" class="btn waves-effect waves-light blue lighten-1">
                Rotate</a>
              <div class="image-legend">Example of a substructure research analysis. The substructure
                on top-left was confronted against 1520 unique structures in the metabolic model of <em>Escherichia
                  Coli</em>. 5 molecules were found. They are depicted above using javascript chemoinformatics
                libraries.
                You can rotate the molecules and play around with them.
              </div>
            </div>
            <!-- RDKit -->
            <div class="expertise-item">
              <div class="exp-title-2">Modelling Chemistry - RDKit</div>
              <ul class="check-list">
                <li>RDKit is a C++ and Python library capable of handling structural chemical data (molecules and
                  reactions).</li>
                <li>Classical methods such as subtructure matching, structure similarity or maximum common substructure
                  are directly applied on large quantities of molecules.</li>
                <li>This allows for screening of large chemical databases to find molecules with specific properties.
                </li>
              </ul>
            </div>
            <!-- Mass Spectrometry -->
            <div class="expertise-item">
              <div class="exp-title-2">Mass Spectrometry - Exploratory Analysis</div>
              <ul class="check-list">
                <li>We can read raw data from mass spectrometry directly within python using pyMZML module.</li>
                <li>A major challenge of Mass Spectrometry is the identification of m/z values found in a sample.</li>
                <li>By simulating fragmentation patterns from molecules and comparing them with experimental ones, we
                  can
                  assign provisory names to some of the m/z values found.</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Management & Coaching -->
        <div class="section scrollspy" id="management">
          <div class="my-card">
            <div class="subtitle">Management & Coaching</div>
            <ul class="check-list">
              <li>As Bioinformatics team leader I had the opportunity to work with a collaborator. It was a fruitful
                experience for both sides.</li>
              <li>I also led a 28h workshop on web development in Mahindra Ecole Central in Hyderabad, India. <a
                  href="#webdev-workshop">More on this here</a>.</li>
              <li>I strongly believe in positive management. Working together is an opportunity to share knowledge and
                skills no matter the level of experience.</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Experience & Education -->
      <div id="experience" class="scrollspy section">
        <!-- Experience -->
        <div class="title">experience</div>
        <div class="grid-section">
          <div class="my-card experience-list">
            <div class="subtitle">Professional Experience</div>
            <!-- Experience GBE -->
            <div class="experience-section">
              <div class="exp-title-2">Bioinformatics Team Leader</div>
              <div class="exp-title-3">📍 Paris Area, France (2017 - 2019)</div>
              <img id="gbe-logo" src="/static/main/img/logos-experience/gbe.jpg" alt="" id="gbe">
              <ul class="check-list">
                <li>Began a new activity in Bioinformatics in a Biotechnology Company.</li>
                <li>Development of a web app capable of processing, analysing and visualising most scientific data of
                  the
                  company (SQL, Python, JS, React).</li>
                <li>Metabolic Modelling and transcriptomics studies led to discovery of new genes relevant for the
                  company. Two patents being written at the moment.</li>
                <li>Management and Training of one collaborator. Dissemination of data science and web development among
                  biologist colleagues.</li>
              </ul>
            </div>
            <!-- Experience Systra -->
            <div class="experience-section">
              <img id="systra-logo" src="/static/main/img/logos-experience/systra.png" alt="">
              <div class="exp-title-2">Transportation Data Analyst</div>
              <div class="exp-title-3">📍 Marseille, France (2013 - 2016)</div>
              <ul class="check-list">
                <li>Transportation Network Analysis applied to planification and forecasting.</li>
                <li>Analysis and Visualisation of heterogenous data using tools such as python and VBA, as well as
                  specialised software.</li>
              </ul>
            </div>
          </div>
          <!-- Education -->
          <div class="my-card experience-list" id="education">
            <div class="subtitle">Education</div>
            <!-- Experience MOOCS -->
            <div class="experience-section" id="moocs">
              <img id="mooc-logo" src="/static/main/img/logos-experience/mooc.png" alt="">
              <div class="exp-title-2">Online Courses in Coursera, Udemy and edX</div>
              <div class="exp-title-3"><em>Web Development, Data Science & Biotechnology</em></div>
              <!-- All MOOCs -->
              <ul class="check-list">
                <li>
                  <a target="_blank"
                    href="https://www.coursera.org/account/accomplishments/specialization/certificate/AX2LHK6WJR52">
                    Deep Learning Specialisation</a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/BJL262VTRDBP">
                    1 </a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/PDEDH5GVFYX6">
                    2 </a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/Y9HA6ETNDUUW">
                    3 </a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/T83MLWPKF59E">
                    4 </a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/Z37NBYYQ5NAR">
                    5 </a>

                  - <em>deeplearning.ai</em>
                </li>
                <li>
                  Bioinformatics
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/8ZDW4QVVAY3C">
                    1 </a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/Z62YRZRYZCEZ">
                    2
                  </a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/PTS458YUUTZ2">
                    3
                  </a>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/4MGX4F9EV7Q2">
                    4
                  </a>
                  - <em>UC San Diego</em>
                </li>
                <li>
                  Data Analysis for Life Sciences
                  <a target="_blank"
                    href="https://courses.edx.org/certificates/user/7711275/course/course-v1:HarvardX+PH525.1x+3T-2015">
                    1
                  </a>
                  <a target="_blank"
                    href="https://courses.edx.org/certificates/user/7711275/course/course-v1:HarvardX+PH525.2x+3T-2015">
                    2
                  </a>
                  <a target="_blank"
                    href="https://courses.edx.org/certificates/user/7711275/course/course-v1:HarvardX+PH525.3x+3T-2015">
                    3
                  </a>
                  <a target="_blank"
                    href="https://courses.edx.org/certificates/user/7711275/course/course-v1:HarvardX+PH525.4x+3T2015">
                    4
                  </a>
                  - <em>HarvardX</em>
                </li>
                <li>
                  <a target="_blank"
                    href="https://s3.amazonaws.com/verify.edx.org/downloads/81b609fd04a14e1eb8bd84994eedb333/Certificate.pdf">
                    Biochemistry
                  </a>
                  - <em>HarvardX</em>
                </li>
                <li>
                  <a target="_blank"
                    href="https://courses.edx.org/certificates/user/7711275/course/course-v1:MITx+20.305x+3T2015">
                    Principles of Synthetic Biology
                  </a>
                  - <em>MITx</em>
                </li>
                <li>
                  <a target="_blank"
                    href="https://courses.edx.org/certificates/user/7711275/course/course-v1:MITx+10.03x_2+3T2015">
                    Biopharmaceutical Manufacturing
                  </a>
                  - <em>MITx</em>
                </li>
                <li>
                  <a target="_blank"
                    href="https://courses.edx.org/certificates/user/7711275/course/course-v1:DavidsonX+D001x+1T2018">
                    Medicinal Chemistry
                  </a>
                  - <em>Davidson College</em>
                </li>

                <li>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/KX6EJBGBLA4E">
                    Human Physiology
                  </a>
                  - <em>Duke University</em>
                </li>
                <li>
                  <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/EC5NLWUF5WD7">
                    Epigenetics
                  </a>
                  - <em>University of Melbourne</em>
                </li>
              </ul>
            </div>
            <!-- Experience X -->
            <div class="experience-section">
              <img id="x-logo" src="/static/main/img/logos-experience/ecole-polytechnique.png" alt="">
              <div class="exp-title-2">Ingénieur de l'Ecole Polytechnique</div>
              <div class="exp-title-3">📍 Palaiseau, France (X2008)</div>
              <ul class="check-list">
                <li>Generalist Engineer from a top Engineering School in France. </li>
                <li>Strong background acquired in statistics, science and informatics.</li>
                <li>You can take a look at <a target="_blank" href="/static/main/docs/Alfredo-Alarcon-Memoire.pdf">my
                    master thesis</a>.
                </li>
                <li>And these two publications in which I helped with the modelling part:
                  <a target="_blank"
                    href="https://www.vie-publique.fr/catalogue/22151-amerique-latine-2012">Documentation
                    Française</a> &
                  <a target="_blank"
                    href="https://publications.banque-france.fr/sites/default/files/medias/documents/working-paper_562_2015.pdf">Banque
                    de France</a>.
                </li>
              </ul>
            </div>
            <!-- Experience mSSB -->
            <div class="experience-section">
              <img id="saclay-logo" src="/static/main/img/logos-experience/paris-saclay.png" alt="">
              <div class="exp-title-2">MsC in Biotechnology</div>
              <div class="exp-title-3"><em>Systems & Synthetic Biology</em></div>
              <div class="exp-title-3">📍 Paris Area, France</div>
              <ul class="check-list">
                <li>Experience in both wet-lab and computational Biology</li>
              </ul>
            </div>


            <!-- End of expriences -->
          </div>
        </div>
      </div>

      <!-- Side Projects -->
      <div id="side-projects">
        <!-- Chemocobra -->
        <div class="section scrollspy" id="chemocobra">
          <div class="title">side projects</div>
          <div class="my-card">
            <div class="first-line">
              <div class="subtitle">Chemocobra</div>
              <a target="_blank" href="/chemocobra" class="btn btn-small waves-effect waves-light blue lighten-1">
                App <i class="material-icons right">open_in_new</i> </a>
            </div>

            <!-- Video -->
            <div class="video">
              <video controls>
                <source src="/static/main/img/side-projects/chemocobra-demo.mp4" type="video/mp4">
              </video>
              <div class="image-legend">
                Demo using chemocobra to compare the central metabolism of <em>Escherichia Coli</em> Wild Type vs PKT,
                the
                strain patented by Global Bioenergies&copy;. We can see that this web application allows us to define
                scenarios and, once the model run, allows for comparing specific reactions, metabolites, and display the
                results in a metabolic map, using a js/python library called Escher.
              </div>
            </div>

            <div class="project-descriptions">
              <div class="expertise-item">
                <div class="exp-title-2">
                  Explore and compare metabolism of different species
                </div>
                <ul class="check-list">
                  <li>This project aims at facilitating the simulation and exploration of metabolism fluxes in different
                    conditions</li>
                  <li>A metabolic model is composed of metabolites (nodes), reactions (edges), as well as genes.</li>
                  <li>You can model different metabolites states by changing the inputs/exchanges as well as limiting
                    fluxes through specific reactions.</li>
                </ul>
              </div>

              <!-- Full stack blah blah -->
              <div class="expertise-item">
                <div class="exp-title-2">A full-stack open source application</div>
                <ul class="check-list">
                  <li>Frontend was performed with React, a javascript library for dynamic web applications.</li>
                  <li>Backend uses python, with libraries such as django and django rest framework for web development
                    as
                    well as scientific libraries (cobra for metabolic modelling, RDKit for chemical structures handling,
                    pandas for data treatment, etc...)</li>
                  <li>Deployment is performed with docker and docker-compose in Digital Ocean. Reverse proxy is used for
                    this website using Cloudflare.</li>
                </ul>
              </div>
              <div class="expertise-item">
                <div class="exp-title-2">An ongoing project</div>
                <ul class="check-list">
                  <li>The next part of chemocobra will be focused on comparing chemical structures of metabolites within
                    a
                    metabolic model.</li>
                  <li>It might allow to predict promiscous activities for existing enzymes as well as toxicity of
                    existing
                    metabolites.</li>
                </ul>
              </div>

            </div>

          </div>
        </div>

        <!-- Web Development Workshop -->
        <div class="section scrollspy" id="webdev-workshop">
          <div class="my-card">
            <!-- Title and buttons -->
            <div class="first-line">
              <div class="subtitle">Web Development Workshop</div>
              <a target="_blank" href="/webdev-workshop/app"
                class="btn btn-small waves-effect waves-light blue lighten-1">App <i
                  class="material-icons right">open_in_new</i> </a>
              <a target="_blank" href="/webdev-workshop/slides"
                class="btn btn-small waves-effect waves-light blue lighten-1">Slides <i
                  class="material-icons right">open_in_new</i></a>

            </div>

            <!-- Image -->
            <div class="side-project-image">
              <img id="geodata-img" alt="" src="/static/main/img/side-projects/geodata.gif">
              <div class="image-legend">
                Final project of the workshop. This application retrieves data from World Bank Indicators API as well as
                Rest Countries API and displays these data with dynamic plots and maps. <br>Stack: React (with hooks)
                and
                Plotly.
              </div>
            </div>

            <!-- Text - Description -->
            <div class="project-descriptions">
              <div>
                <img src="/static/main/img/side-projects/mahindra.jpg" alt="" id="mahindra">
              </div>
              <div class="expertise-item">
                <div class="exp-title-2">28h Workshop on Frontend Web Development.</div>
                <ul class="check-list">
                  <li>The objective of this workshop was to introduce Computer Science students at Mahindra Ecole
                    Centrale
                    (Hyderabad, India) to modern web technologies.</li>
                  <li>Main content was frontend development, including HTML, CSS, Javascript and React with Hooks. </li>
                  <li>It was a hands-on workshop, most of the time students were developing applications with Javascript
                    and
                    React.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>


        <!-- Museo de la Solidaridad -->
        <div class="section scrollspy" id="museo-solidaridad">
          <div class="my-card">
            <!-- Title and button -->
            <div class="first-line">
              <div class="subtitle">Museo de la Solidaridad</div>
              <a target="_blank" href="/museo-solidaridad"
                class="btn btn-small waves-effect waves-light blue lighten-1">
                WebSite <i class="material-icons right">open_in_new</i> </a>
            </div>
            <!-- Text - Description -->
            <div class="expertise-item">
              <div class="exp-title-2">El Museo de la Solidaridad</div>
              <ul class="check-list">
                <li>This website was created for an upcoming documentary relating a Chilean story happening during the
                  dictatorship.</li>
                <li>The objective was to show the material used for the documentary in order to apply for financing.
                </li>
                <li>Created with materialize, a CSS and JS library.</li>
              </ul>
            </div>
            <!-- Image -->
            <div class="side-project-image">
              <img src="/static/main/img/side-projects/museo-solidaridad.gif" alt="">
              <div class="image-legend">
                Website developped with materialize.css. All photos and videos belong to Tomás Strahovsky&copy;
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pictures -->
      <div id="pictures" class="section scrollspy">
        <div class="my-card">
          <div class="subtitle">Photos</div>
          <div>One of my favorites hobbies is travelling and meeting different cultures.</div>
          <div>Here you can see some pictures I have taken around the world...</div>
          <div id="pictures-container">
            <div>
              <div class="picture">
                <img src="/static/main/photos/pic-3-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-7-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-15-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-19-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-11-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-1-v1.jpg" alt="" class="materialboxed">
              </div>
            </div>
            <div>
              <div class="picture">
                <img src="/static/main/photos/pic-2-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-8-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-10-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-18-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-4-v1.jpg" alt="" class="materialboxed">
              </div>
              <div class="picture">
                <img src="/static/main/photos/pic-6-v1.jpg" alt="" class="materialboxed">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact -->
      <div id="contact" class="grid-section section scrollspy">
        <!-- <div class="title">contact</div> -->
        <div class="my-card">
          <div class="subtitle">Let's keep in touch...</div>
          <div>I'm always looking for opportunities to share my knowledge and skills.</div>
          <div>Please fulfill the form below in case you have any question or proposition.</div>
          <div>English, Français & Español are all welcome!</div>
          <form>
            <!-- Name -->
            <div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Name</label>
            </div>
            <!-- Telephone -->
            <div class="input-field">
              <i class="material-icons prefix">phone</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Telephone</label>
            </div>
            <!-- E-mail -->
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input id="icon_email" type="email" class="validate">
              <label for="icon_email">E-mail address</label>
            </div>
            <!-- Message -->
            <div class="input-field col s6">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Message</label>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- table of contents -->
    <!-- <div class="col hide-on-small-only m3 l2" id="table-contents-container"> -->
    <div id="table-contents-container">
      <div class="pushpin">
        <ul class="section table-of-contents">
          <li><a href="#presentation">Presentation</a></li>
          <li class="section-title">Expertise</li>
          <li><a href="#data-science" class="subsection-link" id="">Data Science</a></li>
          <li><a href="#web-development" class="subsection-link" id="">Web Development</a></li>
          <li><a href="#network-analysis" class="subsection-link" id="">Network Analysis</a></li>
          <li><a href="#computational-biology" class="subsection-link" id="">Computational Biology</a></li>
          <li><a href="#chemoinformatics" class="subsection-link" id="">Chemoinformatics</a></li>
          <li><a href="#management" class="subsection-link" id="">Management</a></li>
          <li><a href="#experience">Experience</a></li>
          <li class="section-title">Side Projects</li>
          <li><a href="#chemocobra" class="subsection-link" id="">Chemocobra</a></li>
          <li><a href="#webdev-workshop" class="subsection-link" id="">Webdev Workshop</a></li>
          <li><a href="#museo-solidaridad" class="subsection-link" id="">Museo Solidaridad</a></li>
          <li><a href="#pictures">Pictures</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Backgrounds -->
  <div class="background"></div>


  <!-- Initialize materialize -->
  <script src="/static/main/js/materialize.min.js"></script>

  <!-- Move and change backgrounds  -->
  <script>
    const BACKGROUND_IMG = {
      "presentation": "/static/main/background/background-presentation-v2.jpg",
      "data-science": "/static/main/background/background-data-science.jpg",
      "web-development": "/static/main/background/background-webdev.jpg",
      "network-analysis": "/static/main/background/background-network.jpg",
      "computational-biology": "/static/main/background/background-biology.jpg",
      "chemoinformatics": "/static/main/background/background-chemistry.jpg",
      "management": "/static/main/background/background-management.jpg",
      "experience": "/static/main/background/background-education.jpg",
      "chemocobra": "/static/main/background/background-webdev.jpg",
      "webdev-workshop": "/static/main/background/background-webdev.jpg",
      "museo-solidaridad": "/static/main/background/background-webdev.jpg",
      "pictures": "/static/main/background/background-presentation-v2.jpg",
      "contact": "/static/main/background/background-presentation-v2.jpg",
    }
    const allElements = Array.from(document.querySelectorAll(".scrollspy"));
    let viewportHeight = null;
    let elementCoordinates = null;
    let oldPosition = "";

    document.addEventListener("DOMContentLoaded", function () {
      elementCoordinates = getPositionsElements(allElements);
      viewportHeight = document.documentElement.clientHeight;
      console.log("content loaded", { elementCoordinates, viewportHeight })
    })

    window.addEventListener("resize", () => {
      elementCoordinates = getPositionsElements(allElements);
      viewportHeight = document.documentElement.clientHeight;
      console.log("resize", { elementCoordinates, viewportHeight });
    });



    // Load background images
    loadBackgroundImages();


    // Event listeners only for big screens
    if (document.documentElement.clientWidth > 990) {
      console.log(document.documentElement.clientWidth);
      window.onkeydown = e => {
        if (e.key.indexOf("Arrow") > -1 || e.key.indexOf("Page") > -1) {
          e.preventDefault();
          moveNextSection(e.key.indexOf("Up") > -1 ? "up" : "down");
        }
      }
  
      window.addEventListener("wheel", e => {
        e.preventDefault();
        e.deltaY < 0 ? moveNextSection("up") : moveNextSection("down");
      }, { passive: false });
    }




    // Definition of functions
    function handleChangePosition(pos) {
      if (oldPosition !== pos) {
        // Change background only if image background changes
        if (BACKGROUND_IMG[oldPosition] !== BACKGROUND_IMG[pos]) {
          const oldEl = document.querySelector(`#background-${oldPosition}`);
          oldEl ? oldEl.style.opacity = 0 : null;
          oldPosition = pos;

          const el = document.querySelector(`#background-${pos}`);
          el.style.opacity = 1;
        }

        document.querySelector(".table-of-contents .active") ? document.querySelector(".table-of-contents .active").classList.remove('active') : null;
        document.querySelector(`.table-of-contents a[href="#${pos}"]`).classList.add("active");
        // return `a[href="#${pos}"]`;
      }
    }

    function moveNextSection(direction) {
      let currEl = getCurrentElement();
      console.log("moveNextSection", currEl.id, window.scrollY);
      let idxOldPosition = allElements.indexOf(currEl);
      const scrollOptions = { block: "center" };

      if (direction === "up" && idxOldPosition > 0) {
        allElements[idxOldPosition - 1].scrollIntoView(scrollOptions);
      }
      else if (direction === "down" && idxOldPosition < allElements.length - 1) {
        allElements[idxOldPosition + 1].scrollIntoView(scrollOptions);
      }
    }

    function loadBackgroundImages() {

      // Create div elements at the end of body
      Object.keys(BACKGROUND_IMG).forEach(key => {
        const el = document.createElement("div");
        el.classList.add("background");
        el.id = `background-${key}`;
        const img = document.createElement('img');
        img.src = BACKGROUND_IMG[key];
        el.append(img);
        document.body.append(el);
      });

    }

    function getPositionsElements(elements) {
      const coordinates = {};

      elements.forEach(el => {
        let rect = el.getBoundingClientRect()
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        coordinates[el.id] = { top: rect.top + scrollTop, bottom: rect.bottom + scrollTop };
        coordinates[el.id].center = Math.round((coordinates[el.id].top + coordinates[el.id].bottom) / 2, 0);
      });

      return coordinates;
    }

    function getCurrentElement() {
      let centerY = Math.round(window.scrollY + viewportHeight / 2, 0);
      let distances = allElements.map(el => Math.abs(elementCoordinates[el.id].center - centerY));
      console.log("distances", distances);
      return allElements[distances.indexOf(Math.min(...distances))];
    }

  </script>

  <!-- Initialize materialize -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {      // Get all sections

      const scrollspyOptions = {
        scrollOffset: 40,
        getActiveElement: window.handleChangePosition,
        // throttle: 800,

      }
      if (document.documentElement.clientWidth > 990) {
        const scrollspyInst = M.ScrollSpy.init(document.querySelectorAll('.scrollspy'), scrollspyOptions);
      }
      const parallaxInst = M.Parallax.init(document.querySelectorAll('.parallax'), {});
      const pushpinOptions = {
        offset: 50,
        // top: 100,
      }
      const pushpinInst = M.Pushpin.init(document.querySelectorAll('.pushpin'), pushpinOptions);
      const tooltipOptions = {
        position: "top",
        margin: 0,
        inDuration: 100,
        outDuration: 0,
      }
      const tooltipInst = M.Tooltip.init(document.querySelectorAll(".tooltipped"), tooltipOptions);
      // materialboxed
      const materialboxedInst = M.Materialbox.init(document.querySelectorAll(".materialboxed"), {});
    });
  </script>

  <!-- Add Links and Images -->
  <script>
    // Experience Links
    const links = {
      "gbe-logo": "http://www.global-bioenergies.com/",
      "systra-logo": "http://www.systra.com",
      "x-logo": "http://www.polytechnique.edu",
      "saclay-logo": "http://www.mssb.fr",

    }
    Array.from(document.querySelectorAll(".experience-section img")).forEach(elem => {
      elem.onclick = () => window.open(links[elem.id], "_blank");
    });

    // Rotate chemoinfo
    document.querySelector("#chemoinfo-rotate").onclick = () => window.rotateAll();

    // Expertise Links
    // const chemoInfoImg = document.querySelector("#chemoinfo-image");
    // chemoInfoImg.onclick = () => window.open("chemoinformatics-viz",
    //   "_blank", "width: 700; height: 900; menubar=off; toolbar=false; resizable=off;");
    const modellingImg = document.querySelector("#modelling-image");
    modellingImg.onclick = () => window.open("metabolic-modelling-viz",
      "_blank", "fullscreen=yes; menubar=off; toolbar=false; resizable=off;");



    // Mahindra
    document.querySelector("#mahindra").onclick = () => window.open("https://www.mahindraecolecentrale.edu.in/", "_blank");

  </script>

  <!-- Initialize Chartist Animation -->
  <script src="/static/main/js/chartist.min.js"></script>
  <script src="/static/main/js/chartist-plot.js"></script>

  <!-- Initialize Escher -->
  <!-- <script src="/static/main/js/escher.min.js" charset="utf-8"></script> -->
  <!-- <script src="escher-map.js"></script> -->
  <!-- <link rel="stylesheet" href="escher-map.css"> -->

  <!-- Initialize molecule viz -->
  <script src="/static/main/js/3Dmol-min.js"></script>
  <script src="/static/main/js/substr-viz-main.js"></script>

</body>

</html>