<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Molecule</title>
  <style>
    #biotin {
      height: 600px;
      width: 400px;
      border: 2px solid black;
    }
  </style>

  <script src="/static/main/js/3Dmol-min.js"></script>
</head>

<body>
  <div id="biotin" data-pdb="2POR" class="viewer_3Dmoljs" data-style='stick'>
  </div>
  <!-- <div id="biotin" data-href="/static/main/docs/biotin.mol" class="viewer_3Dmoljs" data-type="mol2" data-style='stick'> -->
  <!-- </div> -->

</body>

</html>