body {
    --first-color: rgb(237, 237, 238);
    --second-color: rgb(111, 181, 206);
    --third-color: rgb(44, 138, 182);
    --fourth-color: #176087;
    --background-1: rgb(19, 19, 34);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #escher-map-container {    
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    height: 98vh;
    width: 98vw;
  }

  #escher-map {
    flex-grow: 1;
    color: var(--first-color);
    background-color: var(--background-1);
  }

  #escher-title {
    color: var(--first-color);
    padding: 1em;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }

  svg.escher-svg #canvas {
    fill: var(--background-1);
    stroke: var(--background-1);
    stroke-width: 7px;
  }

  svg.escher-svg .label {
    fill: var(--first-color);
  }

  svg.escher-svg .metabolite-circle {
    stroke: var(--second-color);
    fill: var(--background-1);
    stroke-width: 7px;
  }

  .search-menu-container {
    display: none;
  }

  .button-panel {
    display: none;
  }