#chem-container {
    flex-grow: 1;
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    /* border: 2px solid gray; */
  }

.mol-element {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mol-name {
    color: white;
    border-bottom: 1px solid gray;
    z-index: 100;
    text-align: center;
    /* font-size: 1.1rem; */
}

#mol-substr>.mol-name {
    color: lightblue;
}

@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    src: local('Amaranth Regular'), local('Amaranth-Regular'), url('/static/main/fonts/amaranth-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/static/main/fonts/amaranth-v10-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }